@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: black;
    color: #f6f6f6;
}

/* MAIN */
.apresentacao-main {
    margin: 10% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* DIV DE TEXTOS */
.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao-conteudo-titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}
.titulo-destaque {
    color: #22D4FD;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;;
    font-weight: 600;

}

/* DIV DA IMAGEM */

