@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: #f6f6f6;
}

/* HEADER */
.cabecalho {
    padding: 2% 0 0 15%;
}
/* NAV */
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
/* LINK (a) */
.cabecalho_menu_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.cabecalho_menu_link:hover {
    color: #ffffff;
    text-shadow: #22D4FD -5px -4px 10px;
}

/* DIV FOOTER */
.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

